<h3> View Customer Details</h3>
<div>
    <div>
        <label> <b> CustomerId: </b></label> {{customer.customerId}}
    </div>
    <div>
        <label> <b> Username: </b></label> {{customer.username}}
    </div>
    <div>
        <label> <b> Password: </b></label> {{customer.password}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{customer.address}}
    </div>
    <div>
        <label> <b> MobileNumber: </b></label> {{customer.mobileNumber}}
    </div>
    <div>
        <label> <b> mobileNumber: </b></label> {{customer.mobileNumber}}
    </div>
    <div>
        <label> <b> email: </b></label> {{customer.email}}
    </div> 
</div>