<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>Calculate Total Items Price According To Quantity</title>
</head>
<body>
    <table>
        <tr>
            <th>Package</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr >
            <td class="item">{{activities[0].description}}</td>
            <td class="quantity"><input type="number" name="quantity[0]" autocomplete="off" placeholder="Enter your Quantity" onkeyup="getPrice()"  [(ngModel)]="quantityone"></td>
            <td class="price"><span>{{activities[0].charges}}</span> $</td>
        </tr>

        <tr >
            <td class="item">{{activities[1].description}}</td>
            <td class="quantity"><input type="number" name="quantity[1]" autocomplete="off" placeholder="Enter your Quantity" oninput="getPrice()" [(ngModel)]="quantitytwo"></td>
            <td class="price"><span>{{activities[1].charges}}</span> $</td>
        </tr>

        <tr >
            <td class="item">{{activities[2].description}}</td>
            <td class="quantity"><input type="number" name="quantity[2]" autocomplete="off" placeholder="Enter your Quantity"  onchange="getPrice()"  [(ngModel)]="quantitythree"></td>
            <td class="price"><span>{{activities[2].charges}}</span> $</td>
        </tr>

        <tr >
            <td class="item">{{activities[3].description}}</td>
            <td class="quantity"><input type="number" name="quantity[3]" autocomplete="off" placeholder="Enter your Quantity" onforminput="getPrice()"  [(ngModel)]="quantityfour"></td>
            <td class="price"><span>{{activities[3].charges}}</span> $</td>
        </tr>

        <tr >
            <td class="item">{{activities[4].description}}</td>
            <td class="quantity"><input type="number" name="quantity[4]" autocomplete="off" placeholder="Enter your Quantity" oninput="getPrice()"   [(ngModel)]="quantityfive"></td>
            <td class="price"><span>{{activities[4].charges}}</span> $</td>
        </tr>
       
        <tr>
            <td class="total-text" colspan="2">Total Price</td>
            <td class="total-number"><span class="number">{{grandTotal}}</span><span class="dollar-sign">$</span></td>
        </tr>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
 
</script>
</body>
</html>