<h1 mat-dialog-title>Provide Details</h1>
<div mat-dialog-content>
    <table>
        <div class="form-group">
            <label> Course Name</label>
            <input type="number" class ="form-control" id = "customerID"
                [(ngModel)] = "ticket.customerID" name = "customerID">
        </div>
        <tr> <label> <b>Customer Id :</b></label> {{ticket.customerID}} </tr>
        <tr><label> <b>Ticket Id :</b></label> {{ticket.ticketId}}</tr>
        <tr><label> <b> Activirt Id :</b></label> {{ticket.activityId}}</tr>
        <tr> <label> <b>Avtivity :</b></label> {{ticket.description}} </tr>
        <tr><label> <b>Price :</b></label> {{ticket.Charges}}</tr>
       
    </table>
 </div>

 <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close >Close</button>
    <button mat-raised-button color="primary" >Confirm</button>
</div>