<h1 mat-dialog-title>Provide Details</h1>
<div mat-dialog-content>
    <table>
        <tr> <label> <b>Customer Id :</b></label> {{ticket.customer.customerId}} </tr>
        <tr><label> <b>Ticket Id :</b></label> {{ticket.ticketId}}</tr>
        <tr><label> <b> Activirt Id :</b></label> {{ticket.activity.activityId}}</tr>
        <tr> <label> <b>Avtivity :</b></label> {{ticket.activity.description}} </tr>
        <tr><label> <b>Price :</b></label> {{ticket.activity.charges}}</tr>
       
    </table>
 </div>

 <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" >Confirm</button>
</div>