table {
    width: 100%;
   
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 20%;
    margin-left: 75%;
  }
  
  td, th {
    width: auto;
  }

  .hread{
   margin-left: 45%; 
  margin-top: 5%;
   font-size: 200%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  }



