    <div
        class="map-clean"></div>
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Lazertag</a></li>
                                <li><a href="#">Arcase</a></li>
                                <li><a href="#">Events</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Safety</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>ANTARCTICA AMUSEMENT PARK</h3>
                            <p>An all-day experience perfect for friends and family of all ages, with numerous thematic shows, thrilling indoor & outdoor roller coasters, family entertainment.<br></p>
                        </div>
                    </div>
                    <p class="copyright">Antarctica © 2018</p>
                </div>
            </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>